{% extends "data_import/base.html" %}
{% load static %}
{% block title %}{% if title %}{{ title }}{% endif %}{% endblock %}
{% block pagejs %}

{% endblock %}

{% block pagecss %}

<link rel="stylesheet" type="text/css" href="{% static 'data_import/skin1/css/set.css' %}">
{% endblock %}

{% block content %}
 <!-- start slider Section -->
 <div id="blank"></div>

<section id="lts_sec">
<div class="container">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
			<div class="title_sec">
				<h1>生产过程与质量成本分析</h1>
				<h2>成本分析包括质量分析，波动率分析；质量分析包括转炉数据预处理，单炉质量回溯和多炉质量回溯</h2>
			</div>
		</div>
        {% for infotype,infos in infost.items %}
          {% if infotype == '4' %}
            {% for info in infos %}
          <div class="col-lg-4 col-md-4 col-sm-12">
              <!--<img src="{% static 'data_import/skin1/img/portfolio/5.jpg' %}" alt="img01"/>-->
              <div class="lts_pst">
                  <!--<h2>{{info.title}}</h2>-->
                  <p></p>
                  <a class="page-scroll" href="{{info.link}}">{{info.title}}<i class="fa fa-long-arrow-right"></i></a></p>
              </div>
          </div>
          {% endfor %}
        {% endif %}
      {% endfor %}
		<div class="post_btn">
			<div class="hover_effect_btn" id="hover_effect_btn">
				<a href="/module_nav?module_type=2" data-hover="view more post"><span>销售分析与价格预测</span></a>
			</div>
		</div>

	</div>
</div>
</section>


<!-- End module Section -->
{% endblock %}
