{% extends "data_import/base.html" %}
{% block title %}{% if title %}{{ title }}{% endif %}{% endblock %}
{% block content %}

<h2>青钢数据分析工具</h2>

<table>
	<tr>
		<td>更新数据库转炉字段全部数据统计值(每月更新): </td>
		<td><button onclick='updatevalue()'>每月更新统计值</button></td>
	</tr>
	<tr>
		<td>更新数据库转炉字段本月及上月数据统计值(每日更新): </td>
		<td><button onclick='daily_updatevalue()'>每日更新统计值</button></td>
	</tr>
	<tr>
		<td>相关性分析</td>
		<td><button onclick='rela()'>相关性分析</button></td>
	</tr>
	<tr>
		<td>回归分析</td>
		<td><button onclick='regression()'>回归分析</button></td>
	</tr>
	<tr>
	<tr>
		<td>分析结果报表</td>
		<td><button onclick='report()'>结果汇总</button></td>
		<td id="file_download"></td>
	</tr>
	<tr>
		<td>成本暴力追溯：</td>
		<td><button onclick='violent_analyse()'>暴力追溯</button></td>
	</tr>
</table>


<script type="text/javascript">
	function violent_analyse(){
	        $.ajax({
	        type: "post",
	        url:  "/violent_analyse",
	        data: {},
	        error: function() {
	            alert("暴力追溯发生错误！");
	        },
	        success: function(data) {
	            alert("暴力追溯完成！");
	        }
	     })
	    }

    //定期更新数据库中表结构表中的期望等参数值(全部数据)，每月更新
    function updatevalue(){
        $.ajax({
        type: "post",
        url:  "/updatevalue",
        data: {},
        error: function() {
            alert("每月更新转炉全部数据的参数发生错误！");
        },
        success: function(data) {
            alert(data.state);
        }
     })
    }

    //定期更新数据库中表结构表中的期望等参数值（本月及上月数据），每日更新
    function daily_updatevalue(){
        $.ajax({
        type: "post",
        url:  "/daily_updatevalue",
        data: {},
        error: function() {
            alert("每日更新转炉本月及上月的数据统计参数发生错误！");
        },
        success: function(data) {
            alert(data.state);
        }
     })
    }

		function rela(){
		  $.ajax({
		        type: "post",
		        url:  "/relation_ana",
		        data: {},
		        error: function() {
		            console.log("404");
		        },
		        success: function(data) {
		          console.log("realtion_ana success")
		        }
		    })
		}
		function regression(){
		  $.ajax({
		        type: "post",
		        url:  "/regression_ana",
		        data: {},
		        error: function() {
		            console.log("404");
		        },
		        success: function(data) {
		          console.log("regression_ana success")
		        }
		    })
		}
		function report(){
		  $.ajax({
		        type: "post",
		        url:  "/report",
		        data: {},
		        error: function() {
		            console.log("404");
		        },
		        success: function(data) {
		          console.log(data);
							var filepath = data.filepath
							var file = filepath.split('/')
							var filename = file[file.length - 1]
							$("#file_download").html("<a href="+data.filepath + ">"+ filename +"</a>")
							alert("处理完成，请下载文件查看。")
		        }
		    })
		}
</script>


{% endblock %}
