{% extends "data_import/base.html" %}
{% block title %}{% if title %}{{ title }}{% endif %}{% endblock %}
{% block pagejs %}
<script type="text/javascript" src="/static/data_import/libs/echarts/echarts.js"></script>
{% endblock pagejs %}
{% block content %}

<h2>青钢转炉数据分析-转炉-成本-波动率分析</h2>
<!-- <h7><a href='/chen'>返回转炉数据分析</a></h7> -->
<!-- <p><strong>1.请选择要进行波动率计算的各项参数</strong></p> -->
<!-- <form action="javascript:void(0)" method="post"> -->
<!-- 隐藏域 -->
    <input type="hidden" name="hidden_inform1" id='hidden_inform1'>
    <div style="margin-top:5px">
        <label>钢种：</label><select name="SPECIFICATION" id="SPECIFICATION" class="gangzhong_name">
            <option value='blank' selected = "selected"></option>
        </select>
       <label> 班次：</label><select name="OPERATESHIFT" id="OPERATESHIFT" class="OPERATESHIFT_name">
            <option value='blank' selected = "selected"></option>
            <option value=1>白班</option>
            <option value=2>中班</option>
            <option value=3>夜班</option>
        </select>
        <label>班别：</label><select name="OPERATECREW" id="OPERATECREW" class="OPERATECREW_name">
            <option value='blank' selected = "selected"></option>
            <option value='A'>甲班</option>
            <option value='B'>乙班</option>
            <option value='C'>丙班</option>
        </select>
        <label>工位：</label><select name="station" id="station" class="station_name">
            <option value='blank' selected = "selected"></option>
            <option value='BOF1'>BOF1</option>
            <option value='BOF2'>BOF2</option>
            <option value='BOF3'>BOF3</option>
        </select>
    </div>
         

    <!--time_select已经被隐藏style="display:none"-->
    <!-- <div id='time_select' style="display:none"> -->
    <div id='time_select' style="margin-top:5px;">
        <div style="margin-top:5px;">
            <b>当前波动率的时间范围:</b>
            <input id="datepicker-example7-start" type="text">
            至 <input id="datepicker-example7-end" type="text">
            快捷选项：<button id="thisMonth" onclick="months(this,'current',1,0)" > 近一月 </button>
        </div>
        
        <div style="margin-top:5px;">
            <b>历史波动率的时间范围:</b>
            <input id="datepicker-example7-start-history" type="text" >
            至 <input id="datepicker-example7-end-history" type="text">
            快捷选项：<button id="lastMonth" onclick="months(this,'history',2,1)" > 上一月 </button>
            <button id="lastTwoMonth" onclick="months(this,'history',3,1)" > 上两月 </button>
            <button id="lastThreeMonth" onclick="months(this,'history',4,1)" > 上三月 </button>
        </div>

        <div style="margin-top:5px;">
            <button onclick="fluc_cost_produce()" id='click1' >成本字段分析</button>
            <label>分析结果展示方式：</label>
            <select name="chart_form" id="chart_form" onchange="change_chart_form();">
                <option value='Histogram' selected = "selected">多轴直方图</option>
                <option value='Radarmap'>雷达图</option>
                <option value='LineChart'>折线图</option>
            </select>
        </div>
    </div>


    <br>

    <div style="width:1550px">
        <div id="loadingarea" style="float:middle;width:1000px;height:30px"></div>
        <div id="main1" style="float:left;width:700px;height:400px"></div>
        <div id="main2" style="float:left;width:800px;height:400px"></div>
        <div id="main3" style="float:left;width:700px;height:400px"></div>
        <div id="main4" style="float:left;width:800px;height:400px"></div>
        <div id='cause_area' style="float:left;width:1500px;height:200px;margin-top:5px">
            <p><strong>转炉工序多炉次整体成本分析结果：</strong></p>
            <textarea id="cause_txt_normal" style="width: 700px;height:250px;"></textarea>
            <textarea id="cause_txt_error" style="width: 700px;height:250px;"></textarea>
        </div>
    </div>     

<!-- <link href="/static/data_import/daterangepicker+bootstrap2.3.1/bootstrap.min.css" rel="stylesheet">     --> 
<link rel="stylesheet" type="text/css" media="all" href="/static/data_import/daterangepicker+bootstrap2.3.1/daterangepicker-bs3.css" />  
<link rel="stylesheet" type="text/css" media="all" href="/static/data_import/daterangepicker+bootstrap2.3.1/daterangepicker-1.3.7.css" />  
<link href="/static/data_import/daterangepicker+bootstrap2.3.1/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet">  
<script type="text/javascript" src="/static/data_import/daterangepicker+bootstrap2.3.1/moment.js"></script> 
<script type="text/javascript" src="/static/data_import/daterangepicker+bootstrap2.3.1/daterangepicker-1.3.7.js"></script>  

<script type="text/javascript" src="/static/data_import/js/loadChart_product.js"></script>
<!-- <script type="text/javascript" src="/static/data_import/js/loadParam.js"></script> -->
<script type="text/javascript" src="/static/data_import/js/zebra_datepicker.js"></script>
<link rel="stylesheet" href="/static/data_import/css/default.css" type="text/css">
<script type="text/javascript"> 



    function months(obj,station,month1,month2){//调用插件接口
        //month1，month2表示前month1个月到前month2个月，正数表示之前，负数表示之后
        if (station=='current'){
            $('#datepicker-example7-start').val(moment().subtract('month', month1).format('YYYY-MM-DD'));
            $('#datepicker-example7-end').val(moment().subtract('month', month2).format('YYYY-MM-DD')); 
        }
        else if(station=='history'){
            $('#datepicker-example7-start-history').val(moment().subtract('month', month1).format('YYYY-MM-DD'));
            $('#datepicker-example7-end-history').val(moment().subtract('month', month2).format('YYYY-MM-DD'));
           
        }
        
    }
        //改变数据展现形式
    function change_chart_form(){
        var chart_imformation = $("#hidden_inform1").val();
        // alert(chart_imformation);
        var data=JSON.parse(chart_imformation);
        // var stringdata=JSON.stringify(data)
        // alert(stringdata);
        var chartform=$("#chart_form").val();
        selectChart(data,chartform);//按照所选形式画图
    }

    function selectChart(data,chartform){
        if (chartform=='Histogram'){//多Y轴柱状图
            removedom();
            drawBarChart_fluc(data,0,'main1');
            drawBarChart_fluc(data,1,'main2');
            drawBarChart_fluc(data,2,'main3');
            drawBarChart_fluc(data,3,'main4');

        }else if (chartform=='Radarmap'){//雷达图
            removedom();
            drawRadarMap_fluc(data,0,'main1');
            drawRadarMap_fluc(data,1,'main2');
            drawRadarMap_fluc(data,2,'main3');
            drawRadarMap_fluc(data,3,'main4');
        }else if (chartform=='LineChart'){//折线图
            removedom();
            drawLineChart_fluc(data,0,'main1');
            drawLineChart_fluc(data,1,'main2');
            drawLineChart_fluc(data,2,'main3');
            drawLineChart_fluc(data,3,'main4');
        }
    }

    function fluc_cost_produce(){
        var SPECIFICATION = $("#SPECIFICATION").val();//钢种,不用转化为大写
        var OPERATESHIFT = $("#OPERATESHIFT").val();//班次
        var OPERATECREW = $("#OPERATECREW").val();//班别
        var station = $("#station").val();//工位
        var time1 = $('#datepicker-example7-start').val();//计算波动率的时间范围起始时间
        var time2 = $('#datepicker-example7-end').val();//计算波动率的时间范围终止时间
        var history_time1 = $('#datepicker-example7-start-history').val();//对比历史波动率的时间范围起始时间
        var history_time2 = $('#datepicker-example7-end-history').val();//对比历史波动率的时间范围终止时间
        // var myChart_main = echarts.init(document.getElementById('main1'));
        var myChart_loading = echarts.getInstanceByDom(document.getElementById('loadingarea'));
        myChart_loading.clear()
        myChart_loading.showLoading({ text: "图表数据正在努力加载...请勿执行其它操作！"});
        $('#loadingarea').show();
        $("#cause_txt_normal").empty();//清除文本内容
        $("#cause_txt_error").empty();//清除文本内容

        console.log(time1,time2)
            $.ajax({
            type: "post",
            url:  "/fluc_cost_produce",
            data: {'SPECIFICATION':SPECIFICATION,'OPERATESHIFT':OPERATESHIFT,'OPERATECREW':OPERATECREW,'station':station,'time1':time1,'time2':time2,'history_time1':history_time1,'history_time2':history_time2},
            error: function() {
                alert("发生错误!");
            },
            success: function(data) {
                // alert(data.state);
                removedom();//清除dom缓存
                if(data.state=='failure_current'){
                    // alert('当前筛选条件下'+data.time.time1+'至'+data.time.time2+'的时间区间内无数据！');
                    //无法使用 $('#drawPicture_area').empty();这样是把整个区域都清空了，不再有main1、main2等
                    // $('#main1').append('！！注：当前筛选条件下'+data.time.time1+'至'+data.time.time2+'的时间区间内无数据！');
                    errorDist(data.time.time1,data.time.time2);
                    // myChart_loading.hideLoading();
                    $('#loadingarea').hide();
                    // $("#cause_area").hide();
                }
                else if(data.state=='failure_history'){
                    // alert('当前筛选条件下'+data.time.history_time1+'至'+data.time.history_time2+'的历史时间区间内无数据！');
                    // $('#main1').append('！！注：当前筛选条件下'+data.time.history_time1+'至'+data.time.history_time2+'的历史时间区间内无数据！');
                    // myChart_loading.hideLoading();
                    errorDist(data.time.history_time1,data.time.history_time2);
                    $('#loadingarea').hide();
                    // $("#cause_area").hide();
                }
                else{
                    var chart_imformation = JSON.stringify(data);
                    // alert(chart_imformation);
                    $("#hidden_inform1").val(chart_imformation);
                    var chartform = $("#chart_form").val();
                    selectChart(data,chartform);

                    // $("#main5").empty();
                    multifurnace_regression_analyse(data);
                    // $('#loadingarea').hide();

                }
            }
        })
    }; 

    function removedom(){//清空dom缓存
        var myChart_main1 = echarts.getInstanceByDom(document.getElementById('main1'));
        var myChart_main2 = echarts.getInstanceByDom(document.getElementById('main2'));
        var myChart_main3 = echarts.getInstanceByDom(document.getElementById('main3'));
        var myChart_main4 = echarts.getInstanceByDom(document.getElementById('main4'));
        myChart_main1.clear();
        myChart_main2.clear();
        myChart_main3.clear();
        myChart_main4.clear();

    }

    function errorDist(time1,time2){
        var myChart_error = echarts.getInstanceByDom(document.getElementById('main1'));
        myChart_error.clear();

        var option = {
            title: 
            {
                text: '注：当前筛选条件下'+time1+'至'+time2+'的时间区间内无数据！',
                // subtext:'数据量过少，无法形成统计分布图！',
                // x:'center'
            },                                         
            xAxis : [
                {
                    data : [],
                    show : false
                }
            ],
            yAxis : [
                {
                    show : false
                }
            ],
            series : [
                {
                    type:'bar',
                    data:[]
                }
            ]
        }
        // var ecConfig = echarts.config;
        myChart_error.setOption(option,true);
    }

    function multifurnace_regression_analyse(result){
        var json_result = JSON.stringify(result);
        var myChart_loading = echarts.getInstanceByDom(document.getElementById('loadingarea'));
        myChart_loading.clear();
        myChart_loading.showLoading({text: "成本字段正在追溯中...请勿执行其它操作！"});
        $.ajax({
            type: "post",
            url:  "/multifurnace_regression_analyse",
            data: {'result':json_result},
            error: function() {
                alert("错误！！");
            },
            success: function(data) {
                // alert(data.str_cause);
                $("#cause_txt_normal").empty();
                $("#cause_txt_error").empty();
                $("#cause_txt_normal").append(data.str_cause_normal);
                $("#cause_txt_error").append(data.str_cause);
                $("#cause_area").show();
                $('#loadingarea').hide();
            }
        })


    }



    //初始化时间控件
    $(document).ready(function() {
            //计算波动率的时间范围
            $('#datepicker-example7-start').Zebra_DatePicker({
                direction: ['2016-01-01', false],
                pair: $('#datepicker-example7-end')
            });
            $('#datepicker-example7-end').Zebra_DatePicker({
                direction: 1
            });
            //对比历史波动率的时间范围
            $('#datepicker-example7-start-history').Zebra_DatePicker({
                direction: ['2016-01-01', false],
                pair: $('#datepicker-example7-end-history')
            });
            $('#datepicker-example7-end-history').Zebra_DatePicker({
                direction: 1
            });
            //设置默认时间
            $('#datepicker-example7-start').val(moment().subtract('month', 4).format('YYYY-MM-DD'));
            $('#datepicker-example7-end').val(moment().subtract('month', 3).format('YYYY-MM-DD'));
            $('#datepicker-example7-start-history').val(moment().subtract('month', 7).format('YYYY-MM-DD'));
            $('#datepicker-example7-end-history').val(moment().subtract('month', 4).format('YYYY-MM-DD'));

        });



       //单字段追溯结果
    function retrospectfactor(result,classification,index){
        var field = result.result[classification].fieldname_en[index];//字段名
        var ifcache = result['ifcache'];
        var whichcache = result['whichcache'];
        alert('进入');
        $("#cause_txt_normal").empty();//清除文本内容
        $("#cause_txt_error").empty();//清除文本内容

        $("#cause_txt_normal").append('    经分析，字段'+result.result[classification].fieldname_ch[index]+'('+field+')在'+result.time.time1+'至'+result.time.time2+'之间的波动率为'+result.result[classification].fluc_ratio[index]+'，与'+result.time.history_time1+'至'+result.time.history_time2+'时间段内波动率相比，偏离程度为'+result.result[classification].offset_result_cent[index]);
        $("#cause_txt_error").append('    经分析，字段'+result.result[classification].fieldname_ch[index]+'('+field+')在'+result.time.time1+'至'+result.time.time2+'之间的波动率为'+result.result[classification].fluc_ratio[index]+'，与'+result.time.history_time1+'至'+result.time.history_time2+'时间段内波动率相比，偏离程度为'+result.result[classification].offset_result_cent[index]);

        if (result.result[classification].offset_result[index]<=0){
            $("#cause_txt_normal").append('，即相当于波动率变小，时间范围内数值趋于稳定。\n');
            $("#cause_txt_error").append('，即相当于波动率变小，时间范围内数值趋于稳定。\n');
            // $("#cause_area").show();
            return
                
        }
        else if(result.result[classification].offset_result[index]<=0.1) {
            $("#cause_txt_normal").append('，在误差范围内，属于正常状态。\n');
            $("#cause_txt_error").append('，在误差范围内，属于正常状态。\n');
            // $("#cause_area").show();
            return
        }
        else if (classification=='raw'){    
            $("#cause_txt_normal").append('，属于原料字段，暂无追溯结果!\n');
            $("#cause_txt_error").append('，属于原料字段，暂无追溯结果!\n');
        }
        else{
            alert("ajax之前");
            $.ajax({
                type: "post",
                url:  "/fluc_influence",
                data: {'field':field,'offset_value':result.result[classification].offset_result[index],'sentence_select':result.sentence_select,'sentence_selecthistory':result.sentence_selecthistory,'ifcache':ifcache,'whichcache':whichcache},
                error: function() {
                    alert("发生错误！！");
                },
                success: function(data) {
                    alert("zhixing");
                    // if(ajax.status == 200) {
                        $("#cause_txt_normal").append('。\n    成本追溯所得字段影响因素分析如下:\n');
                        $("#cause_txt_error").append('。\n    成本追溯所得字段影响因素分析如下:\n');
                        for (var i=0;i<2;i++){
                            $("#cause_txt_normal").append('        No.'+(i+1)+' 相关字段为: '+data.En_to_Ch_result[i]+"，其偏离程度为："+data.offset_result_nature[i]+data.offset_result_cent[i]+'，权重系数为：'+data.regression_coefficient[i]+"。\n");
                            $("#cause_txt_error").append('        No.'+(i+1)+' 相关字段为: '+data.En_to_Ch_result[i]+"，其偏离程度为："+data.offset_result_nature[i]+data.offset_result_cent[i]+'，权重系数为：'+data.regression_coefficient[i]+"。\n");
                        } 
                    }
                   // $("#cause_area").show();
                // }
            })
        }         

    };



    //自动加载钢种
    function loadGrape(){ 
        $.ajax({
        type: "POST",
        dataType:"json",
        url: "/getGrape" ,
        data: {'greet':'hello'},
        success: function(data){
            pnames=data.result;
            // $(".gangzhong_name").append("<option value='blank' selected =\"selected\"></option>");
            for(var pname in pnames){
                console.log(pnames[pname]) 
                $(".gangzhong_name").append("<option value='"+pnames[pname]+"'>"+pnames[pname]+"</option>");
            }
        },
        error: function () {
            alert("error");
            }
         });
        };


    //初始化
    $(function(){
            // loadOption_chen();//自动加载字段
            loadGrape(); //自动加载钢种   
            $("#cause_area").hide();
            var myChart_main1 = echarts.init(document.getElementById('main1'));
            var myChart_main2 = echarts.init(document.getElementById('main2'));
            var myChart_main3 = echarts.init(document.getElementById('main3'));
            var myChart_main4 = echarts.init(document.getElementById('main4'));
            var myChart_loading = echarts.init(document.getElementById('loadingarea'));
            //fluc_cost_produce();//打开页面自动执行函数

        })


</script>





{% endblock %}