{% extends "data_import/base.html" %}
{% block title %}{% if title %}{{ title }}{% endif %}{% endblock %}
{% block pagejs %}
<script type="text/javascript" src="/static/data_import/libs/echarts/echarts.js"></script>
{% endblock pagejs %}
{% block content %}

<h2>青钢转炉数据分析-转炉-质量-波动率分析</h2>

    <div style="margin-top:5px">
        <label>钢种：</label><select name="SPECIFICATION" id="SPECIFICATION" class="gangzhong_name"></select>
       <label> 班次：</label><select name="OPERATESHIFT" id="OPERATESHIFT" class="OPERATESHIFT_name">
            <option value='blank' selected = "selected"></option>
            <option value=1>白班</option>
            <option value=2>中班</option>
            <option value=3>夜班</option>
        </select>
        <label>班别：</label><select name="OPERATECREW" id="OPERATECREW" class="OPERATECREW_name">
            <option value='blank' selected = "selected"></option>
            <option value='A'>甲班</option>
            <option value='B'>乙班</option>
            <option value='C'>丙班</option>
        </select>
        <label>工位：</label><select name="station" id="station" class="station_name">
            <option value='blank' selected = "selected"></option>
            <option value='BOF1'>BOF1</option>
            <option value='BOF2'>BOF2</option>
            <option value='BOF3'>BOF3</option>
        </select>
        <!-- 字段名：<select name="flu_field" id="flu_field" class="fluctution_time"></select> -->
        <!--<input id="datepicker-example5" type="text">-->
    </div>
         

    <!--time_select已经被隐藏style="display:none"-->
    <!-- <div id='time_select' style="display:none"> -->
    <div id='time_select' style="margin-top:5px;">
        <div style="margin-top:5px;">
            <b>当前波动率的时间范围:</b>
            <input id="datepicker-example7-start" type="text">
            至 <input id="datepicker-example7-end" type="text">
            快捷选项：<button id="thisMonth" onclick="months(this,'current',1,0)" > 近一月 </button>
        </div>
        
        <div style="margin-top:5px;">
            <b>历史波动率的时间范围:</b>
            <input id="datepicker-example7-start-history" type="text" >
            至 <input id="datepicker-example7-end-history" type="text">
            快捷选项：<button id="lastMonth" onclick="months(this,'history',2,1)" > 上一月 </button>
            <button id="lastTwoMonth" onclick="months(this,'history',3,1)" > 上两月 </button>
            <button id="lastThreeMonth" onclick="months(this,'history',4,1)" > 上三月 </button>
        </div>

        <div style="margin-top:5px;">
            <button onclick="fluc_cost_produce()" id='click1' >质量字段分析</button>
        </div>
    </div>


    <br>

    <div style="width:1550px">
        <div id="loadingarea" style="float:middle;width:1000px;height:30px"></div>
        <div id="main1" style="float:left;width:800px;height:300px"></div>

        <div id='cause_area' style="float:left;width:700px;height:300px;margin-top:5px">
            <p><strong>转炉工序多炉次整体质量分析结果：</strong></p>
            <textarea id="cause_txt" style="width: 650px;height:200px;"></textarea>
        </div>
    </div>     


<!-- <link href="/static/data_import/daterangepicker+bootstrap2.3.1/bootstrap.min.css" rel="stylesheet">     -->
<link rel="stylesheet" type="text/css" media="all" href="/static/data_import/daterangepicker+bootstrap2.3.1/daterangepicker-bs3.css" />  
<link rel="stylesheet" type="text/css" media="all" href="/static/data_import/daterangepicker+bootstrap2.3.1/daterangepicker-1.3.7.css" />  
<link href="/static/data_import/daterangepicker+bootstrap2.3.1/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet">  
<script type="text/javascript" src="/static/data_import/daterangepicker+bootstrap2.3.1/moment.js"></script> 
<script type="text/javascript" src="/static/data_import/daterangepicker+bootstrap2.3.1/daterangepicker-1.3.7.js"></script>  

<script type="text/javascript" src="/static/data_import/js/loadChart_chen.js"></script>
<script type="text/javascript" src="/static/data_import/js/loadParam.js"></script>
<script type="text/javascript" src="/static/data_import/js/zebra_datepicker.js"></script>
<link rel="stylesheet" href="/static/data_import/css/default.css" type="text/css">
<script type="text/javascript"> 

    function months(obj,station,month1,month2){//调用插件接口
        //month1，month2表示前month1个月到前month2个月，正数表示之前，负数表示之后
        if (station=='current'){
            $('#datepicker-example7-start').val(moment().subtract('month', month1).format('YYYY-MM-DD'));
            $('#datepicker-example7-end').val(moment().subtract('month', month2).format('YYYY-MM-DD'));
        }
        else if(station=='history'){
            $('#datepicker-example7-start-history').val(moment().subtract('month', month1).format('YYYY-MM-DD'));
            $('#datepicker-example7-end-history').val(moment().subtract('month', month2).format('YYYY-MM-DD'));
           
        }
        
    }
    function fluc_cost_produce(){
        var SPECIFICATION = $("#SPECIFICATION").val();//钢种,不用转化为大写
        var OPERATESHIFT = $("#OPERATESHIFT").val();//班次
        var OPERATECREW = $("#OPERATECREW").val();//班别
        var station = $("#station").val();//工位
        // var fieldname = $("#flu_field").find("option:selected").val();//字段名
        var time1 = $('#datepicker-example7-start').val();//计算波动率的时间范围起始时间
        var time2 = $('#datepicker-example7-end').val();//计算波动率的时间范围终止时间
        var history_time1 = $('#datepicker-example7-start-history').val();//对比历史波动率的时间范围起始时间
        var history_time2 = $('#datepicker-example7-end-history').val();//对比历史波动率的时间范围终止时间
        // var myChart_main = echarts.init(document.getElementById('main1'));
        var myChart_loading = echarts.init(document.getElementById('loadingarea'));
        $('#loadingarea').show();
        // var myChart_main2 = echarts.init(document.getElementById('main2'));
        $("#cause_txt").empty();//清除文本内容
//         myChart_main.showLoading({
//                     text: "图表数据正在努力加载..."
//                 });
        myChart_loading.showLoading({
                    text: "图表数据正在努力加载...请勿执行其它操作！"
                });

        console.log(time1,time2)
            $.ajax({
            type: "post",
            url:  "/fluc_qualityfields",
            data: {'SPECIFICATION':SPECIFICATION,'OPERATESHIFT':OPERATESHIFT,'OPERATECREW':OPERATECREW,'station':station,'time1':time1,'time2':time2,'history_time1':history_time1,'history_time2':history_time2},
            error: function() {
                alert("发生错误!");
            },
            success: function(data) {
                // alert(data.state);
               
                if(data.state=='failure_current'){
                    // alert('当前筛选条件下'+data.time.time1+'至'+data.time.time2+'的时间区间内无数据！');
                    //无法使用 $('#drawPicture_area').empty();这样是把整个区域都清空了，不再有main1、main2等
                    $('#main1').empty();
                    $('#main2').empty();
                    $('#main3').empty();
                    $('#main4').empty();
                    $('#main1').append('！！注：当前筛选条件下'+data.time.time1+'至'+data.time.time2+'的时间区间内无数据！');
                    // myChart_loading.hideLoading();
                    $('#loadingarea').hide();
                    // $("#cause_area").hide();
                }
                else if(data.state=='failure_history'){
                    // alert('当前筛选条件下'+data.time.history_time1+'至'+data.time.history_time2+'的历史时间区间内无数据！');
                    $('#main1').empty();
                    $('#main2').empty();
                    $('#main3').empty();
                    $('#main4').empty();
                    $('#main1').append('！！注：当前筛选条件下'+data.time.history_time1+'至'+data.time.history_time2+'的历史时间区间内无数据！');
                    // myChart_loading.hideLoading();
                    $('#loadingarea').hide();
                    // $("#cause_area").hide();
                }
                else{
                    drawBarChart_fluc(data.result,'main1');
                    $("#main5").empty();
                    multifurnace_regression_analyse(data.result);
                    // $('#loadingarea').hide();
                }
                // myChart_main1.hideLoading();
                // myChart_main2.hideLoading();
            }
        })
    }; 


    function multifurnace_regression_analyse(result){
         var json_result = JSON.stringify(result);
         var myChart_loading = echarts.init(document.getElementById('loadingarea'));
         myChart_loading.showLoading({
             text: "质量字段正在追溯中...请勿执行其它操作！"
                });
         // alert(json_result);
         // alert(result);
          $.ajax({
            type: "post",
            url:  "/quality_multifurnace_regression_analyse",
            data: {'result':json_result},
            error: function() {
                alert("错误！！");
            },
            success: function(data) {
                // alert(data.str_cause);
                $("#cause_txt").empty();
                $("#cause_txt").append(data.str_cause);
                $("#cause_area").show();
                $('#loadingarea').hide();
            }
        })


    }



    //初始化时间控件
    $(document).ready(function() {
            //计算波动率的时间范围
            $('#datepicker-example7-start').Zebra_DatePicker({
                direction: ['2016-01-01', false],
                pair: $('#datepicker-example7-end')
            });
            $('#datepicker-example7-end').Zebra_DatePicker({
                direction: 1
            });
            //对比历史波动率的时间范围
            $('#datepicker-example7-start-history').Zebra_DatePicker({
                direction: ['2016-01-01', false],
                pair: $('#datepicker-example7-end-history')
            });
            $('#datepicker-example7-end-history').Zebra_DatePicker({
                direction: 1
            });
            //设置默认时间
            $('#datepicker-example7-start').val(moment().subtract('month', 4).format('YYYY-MM-DD'));
            $('#datepicker-example7-end').val(moment().subtract('month', 3).format('YYYY-MM-DD'));
            $('#datepicker-example7-start-history').val(moment().subtract('month', 7).format('YYYY-MM-DD'));
            $('#datepicker-example7-end-history').val(moment().subtract('month', 4).format('YYYY-MM-DD'));

        });


    //自动加载钢种
    function loadGrape(){ 
        $.ajax({
        type: "POST",
        dataType:"json",
        url: "/getGrape" ,
        data: {'greet':'hello'},
        success: function(data){
            //alert(data.result);
            //alert(data.result.length);
            pnames=data.result;
            $(".gangzhong_name").append("<option value='blank' selected =\"selected\"></option>");
            for(var pname in pnames){
                console.log(pnames[pname]) 
                $(".gangzhong_name").append("<option value='"+pnames[pname]+"'>"+pnames[pname]+"</option>");
            }
        },
        error: function () {
            alert("error");
            }
         });
        };


    function drawBarChart_fluc(result,area){
        var myChart = echarts.init(document.getElementById(area));
        // var colors = ['#5793f3', '#d14a61', '#675bba','#00c957','#eeeeee', '#3397c9','#f39646','#e02222','#e0442f'];
        // var colors = ['#FF0000','#FF7F00','#FFFF00','#00FF00','#00FFFF','#0000FF','#8B00FF','#FF0000','#FF7F00','#FFFF00','#00FF00','#00FFFF','#0000FF','#8B00FF'];
        var colors = ['#FCBE91','#ACA7DC','#FFBF32','#BC8F8F','#DC6428','#7DB8CB','#9400D3','#AE8083','#808080','#3E8DC6','#9D947E'];
        // alert(result.result[classification].condition);
        if (result.condition=='NoData'){
            document.getElementById(area).innerHTML = "质量相关字段缺少数据，无法进行图表展示！详情请见成本分析结果.";
            return;
        }
            // 指定图表的配置项和数据
            var option = {
                color:colors,
                title: {
                    text: '转炉工序质量字段波动率计算',
                    subtext: result.time.time1+'~'+result.time.time2+' || '+result.time.history_time1+'~'+result.time.history_time2+'时间范围内的波动率对比',
                    // subtext: '当前时间范围：'+result.time.time1+'~'+result.time.time2+'\n历史时间范围：'+result.time.history_time1+'~'+result.time.history_time2,
                    x:'center'
                },
                tooltip: {
                        trigger:'item',
                        formatter: function (params){//result.result.raw.fieldname_ch[params.dataIndex]
                            var res = result.fieldname_ch[params.dataIndex]+'<br/>'+params.seriesName+'：'+params.value+ '<br/>偏离程度：'+result.offset_result_cent[params.dataIndex]+'</br>定性判断：'+result.qualitative_offset_result[params.dataIndex];        
                            // var res = result.fieldname_ch[params.seriesIndex]+':</br>波动率实际值：'+params.value+'</br>波动率历史值：'+result.ana_describe_history[params.seriesIndex].numb[2]+ '<br/>偏离程度：'+result.offset_result[params.seriesIndex]+'</br>定性判断：'+result.qualitative_offset_result[params.seriesIndex];                         
                            return res;
                            }
                     
                },
                toolbox: {
                    show : true,
                    feature: {
                        dataView: {show: true, readOnly: false},
                        restore: {show: true},
                        saveAsImage: {show: true}
                        }
                },
                legend: {
                    data:['波动率','对比历史波动率'],
                    show:false
                },
                xAxis: [{
                    type: 'category',
                    axisTick: {
                    alignWithLabel: true
                    },
                    data: result.fieldname_ch,
                },
                ],
                yAxis: [{
                    name:'波动率',
                    type: 'value',
                    // min: 0,
                    // max: 105000,
                    position: 'left',
                    offset:0,
                    splitLine:{show: false},//去除网格线
                    axisLine: {
                        lineStyle: {
                            color: colors[0]
                        }
                    },
                    // axisLabel: {
                    //     formatter: '{value} Kg'
                    // }
                },
               
                ],
                series: [{
                    name:'波动率',
                    type: 'bar',
                    // barWidth : 50,//柱条（K线蜡烛）宽度
                    // barGap: '1%',//柱间距离，默认为柱形宽度的30%，可设固定值
                    barCategoryGap:'10%',//类目间柱形距离，默认为类目间距的20%，可设固定值
                    barMinHeight:10,//柱条最小高度，可用于防止某item的值过小而影响交互
                    yAxisIndex: 0,
                    data: result.fluc_ratio,
                    itemStyle: {
                        normal: {
                            label : {
                                show: true, position: 'top'
                            },
                            color:function(params) {
                                return colors[params.dataIndex]
                            }
                        }
                    }
                },
                {
                    name:'对比历史波动率',
                    type: 'bar',
                    // barWidth : 50,//柱条（K线蜡烛）宽度
                    // barGap: '1%',//柱间距离，默认为柱形宽度的30%，可设固定值
                    barCategoryGap:'10%',//类目间柱形距离，默认为类目间距的20%，可设固定值
                    barMinHeight:10,//柱条最小高度，可用于防止某item的值过小而影响交互
                    yAxisIndex: 0,
                    data: result.fluc_ratio_history,
                    itemStyle: {
                        normal: {
                            label : {
                                show: true, position: 'top'
                            },
                            color: function(params) {
                                return colors[params.dataIndex]
                        }
                    }
                }
                },
                
                ]
            };

            var ecConfig = echarts.config;
            myChart.on('click', function (params) {
            if (typeof params.seriesIndex != 'undefined') { 
                // fieldname_chinese=result.fieldname_ch[params.seriesIndex];
                // fieldname_english=result.fieldname_en[params.seriesIndex];
                // probability_distribution(fieldname_chinese,fieldname_english,result.offset_result[params.seriesIndex],params.value);

                // fieldname_en=result.fieldname_en[params.dataIndex];//读取字段英文名字
                index=params.dataIndex;//index表示分类中的第几个字段
                retrospectfactor(result,index);
            }
            console.log(params);
            });


            myChart.setOption(option);
            // 使用刚指定的配置项和数据显示图表。
    };


       //回归系数因素追溯及其偏离程度
    function retrospectfactor(result,index){
        var field = result.fieldname_en[index];//字段名
        var ifcache = result['ifcache'];
        var whichcache = result['whichcache'];

        $("#cause_txt").empty();//清除文本内容
        $("#cause_txt").append('    经分析，字段'+result.fieldname_ch[index]+'('+field+')在'+result.time.time1+'至'+result.time.time2+'之间的波动率为'+result.fluc_ratio[index]+'，与'+result.time.history_time1+'至'+result.time.history_time2+'时间段内波动率相比，偏离程度为'+result.offset_result_cent[index]);

        if (result.offset_result[index]<=0){
            $("#cause_txt").append('，即相当于波动率变小，时间范围内数值趋于稳定。\n');
            $("#cause_area").show();
            return
                
        }
        else if(result.offset_result[index]<=0.1) {
            $("#cause_txt").append('，在误差范围内，属于正常状态。\n');
            $("#cause_area").show();
            return
        }
        else{
            $.ajax({
                type: "post",
                url:  "/quality_fluc_influence",
                data: {'field':field,'offset_value':result.offset_result[index],'sentence_select':result.sentence_select,'sentence_selecthistory':result.sentence_selecthistory,'ifcache':ifcache,'whichcache':whichcache},
                error: function() {
                    alert("发生错误！！");
                },
                success: function(data) {
                    $("#cause_txt").append('。\n    质量追溯所得字段影响因素分析如下:\n');
                    for (var i=0;i<2;i++){
                        $("#cause_txt").append('        No.'+(i+1)+' 相关字段为: '+data.En_to_Ch_result[i]+"，其偏离程度为："+data.offset_result_nature[i]+data.offset_result_cent[i]+'，权重系数为：'+data.regression_coefficient[i]+"。\n");
                    } 
                     
                    $("#cause_area").show();
                }
            })
        }         

    };




    //初始化
    $(function(){
            loadOption_chen();
            loadGrape();
            $("#cause_area").hide();
        })
</script>





{% endblock %}