{% extends "data_import/base.html" %}
{% block title %}{% if title %}{{ title }}{% endif %}{% endblock %}

{% block content %}
<h3>销售部分：市场份额分析</h3> 
<!-- <a href='/space'>>>>跳转到：空间分析</a>&nbsp;&nbsp;
<a href='/time'>>>>跳转到：时间分析</a>&nbsp;&nbsp;
<a href='/trade'>>>>跳转到：钢种分析</a>&nbsp;&nbsp;
<a href='/cust_time'>>>>跳转到：客户分析（时间）</a>&nbsp;&nbsp;
<a href='/cust_trade'>>>>跳转到：客户分析（钢种）</a>&nbsp;&nbsp;
<a href='/stockControl'>>>>跳转到：库存管理</a> -->
<br>
<br>
{% csrf_token %}
<!--<h3> 输入 </h3>-->
<!-- <div>
    分析模块:
    <select name="select_module" id="select_module" class="xla_1" style="display:none;">
        <option value="1">空间分析</option>
        <option value="2">时间分析</option>
        <option value="3">钢种分析</option>
        <option value="4">客户分析</option>
        <option value="5">市场份额分析</option>
    </select>
</div> -->


<div>
    起始年月: 
    <select name="select_startYear" id="select_startYear" class="xla_1" >
        <option value="2016">2016</option>
        <option value="2017">2017</option>
    </select>
    <select name="select_startMonth" id="select_startMonth" class="xla_2" >
        <option value="01">1</option>
        <option value="02">2</option>
        <option value="03">3</option>
        <option value="04">4</option>
        <option value="05">5</option>
        <option value="06">6</option>
        <option value="07">7</option>
        <option value="08">8</option>
        <option value="09">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
    </select>
    <br>
    <br>
    终止年月:
    <select name="select_endYear" id="select_endYear" class="xla_3" >
        <option value="2017">2017</option>
        <option value="2016">2016</option>
    </select>

    <select name="select_endMonth" id="select_endMonth" class="xla_4"  >
        <option value="01">1</option>
        <option value="02">2</option>
        <option value="03">3</option>
        <option value="04">4</option>
        <option value="05">5</option>
        <option value="06">6</option>
        <option value="07">7</option>
        <option value="08">8</option>
        <option value="09">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        </select>

</div>
<br>

<button onclick='markerShartCompute()'">分析结果绘图</button>
<br>
<br>
<!-- <div>
    展示方式： 
    <select name="select_showStyle" id="select_showStyle" class="xla_8" " value = '月' style="display:inline;">
        <option value="1">地图</option>
        <option value="2">饼图</option>
        <option value="3">漏斗图</option>
        <option value="4">折线图</option>
        <option value="5">柱状图</option>

    </select>
</div>
<br>
<br> -->
<div id="main4" style="width: 800px;height:400px;"></div>
<div id="main5" style="width: 60px;height:400px;">
<textarea id="txt" style="width: 800px;height:300px;"></textarea>
</div>
<br>
<script type="text/javascript" src="/static/data_import/js/loadDateSelect.js"></script>
<script type="text/javascript">

    var data_save = {
        startYear: null,
        startMonth: null,
        endYear: null,
        endMonth: null,
        all_dictionary: null,
        result: null,

        tradeNoNoNo: '-',
        aspect_name: '-',
        unite: '-',
        maxValue: '-',
        module_name: "市场容量分析",
        sql_date1_: null,
        sql_date2_: null,
        dateChoose_name: '-',
        space_name: '-',
        showStyle: null,
        pieresult: '-',
        space:'-',
        sql_cust :'-',
        pie_rst: null,
    }
 

    // select_showStyle.onchange = function(){  //修改展示方式时，不用重新跑程序，使得层序更加快速
    //     //var showStyle = $ ("#select_showStyle").find("option:selected").val();

    //     if (data_save.tradeNoNoNo.length == 0){
    //         alert("错误！请选择钢种！"); //判断钢种选择是否正确
    //     }else{
    //         if (this.value == 1){
    //             drawMapChartChina_ratio(data.all_dictionary,data.result,data_save.startYear,data_save.startMonth,data_save.endYear,data_save.endMonth);
    //         }else if (this.value == 2){
    //             //console.log("two");
    //             drawpie_marketShare(data_save.pie_rst,data_save.tradeNoNoNo,data_save.aspect_name,data_save.unite,data_save.maxValue,data_save.module_name,data_save.sql_date1_,data_save.sql_date2_,data_save.dateChoose_name,data_save.space_name,data_save.sql_cust,data_save.all_dictionary);
    //         }
    //         //else if (this.value == 3){
    //         //     drawfunnel(data_save.all_dictionary,data_save.tradeNoNoNo,data_save.aspect_name,data_save.unite,data_save.maxValue,data_save.module_name,data_save.sql_date1_,data_save.sql_date2_,data_save.dateChoose_name,data_save.space_name,data_save.sql_cust);
    //         // }else  if (this.value == 4){
    //         //     //console.log("four");
    //         //     drawTimeLineBar_normal(data_save.all_dictionary,data_save.tradeNoNoNo,data_save.aspect_name,data_save.unite,data_save.maxValue,data_save.module_name,data_save.sql_date1_,data_save.sql_date2_,data_save.dateChoose_name,data_save.space_name,data_save.sql_cust);
    //         // }
    //         else {
    //             console.log("five");
    //             //drawBar_normal(data_save.all_dictionary,data_save.tradeNoNoNo,data_save.aspect_name,data_save.unite,data_save.maxValue,data_save.module_name,data_save.sql_date1_,data_save.sql_date2_,data_save.dateChoose_name,data_save.space_name,data_save.sql_cust);
    //         }
    //     }
    // }
  
    function markerShartCompute(){

        var startYear = document.getElementById("select_startYear").value
        var startMonth = document.getElementById("select_startMonth").value
        var endYear = document.getElementById("select_endYear").value
        var endMonth = document.getElementById("select_endMonth").value
        //var showStyle = $ ("#select_showStyle").find("option:selected").val();
        var showStyle = 1;
        console.log(startYear)
        console.log(startMonth)
        console.log(endYear)
        console.log(endMonth)
        var tradeNoNoNo =  '-'
        var aspect_name =  '-'
        var unite =  '-'
        var maxValue =  '-'
        var dateChoose_name =  '-'
        var space_name =  '-'
        var pieresult =  '-'
        var space = '-'
        var module_name =  "市场容量分析"
        var sql_date1_ =  String(startYear) + "年" + String(startMonth) + "月";
        var sql_date2_ = String(endYear) + "年" + String(endMonth) + "月";
        var sql_cust = '-';


//         //图表正在加载中
//         var myChart = echarts.init(document.getElementById('main4'));
//         myChart.showLoading({
//                     text: "图表数据正在努力加载...\n请不要点击其他按钮~"
//                 });

         $.ajax({
            type: "post",
            url:  "/market_share",
            data: {'startYear':startYear,'startMonth':startMonth,'endYear':endYear,'endMonth':endMonth,'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val()}
            }
        ).done(function(data) {
            console.log(JSON.stringify(data.result));
            console.log(JSON.stringify(data.all_dictionary));
            data_save.result = data.result;
            data_save.all_dictionary = data.all_dictionary;
            data_save.startYear = startYear;
            data_save.startMonth = startMonth;
            data_save.endYear = endYear;
            data_save.endMonth = endMonth;
            data_save.sql_date1_ = sql_date1_;
            data_save.sql_date2_ = sql_date2_;
            data_save.pie_rst = data.pie_rst;

            drawMapChartChina_ratio(data.all_dictionary,data.result,startYear,startMonth,endYear,endMonth);
            // if ( showStyle == 1 ){
            //     drawMapChartChina_ratio(data.all_dictionary,data.result,startYear,startMonth,endYear,endMonth);
            // }else if ( showStyle == 2 ){
            //     drawpie_marketShare(data.pie_rst,tradeNoNoNo,data.aspect_name,data.unite,data.maxValue,data.module_name,sql_date1_,sql_date2_,dateChoose_name,space_name,sql_cust,data.all_dictionary);
            // }else if ( showStyle == 3 ){
            //     drawfunnel(data.all_dictionary,tradeNoNoNo,data.aspect_name,data.unite,data.maxValue,data.module_name,sql_date1_,sql_date2_,dateChoose_name,space_name,sql_cust);
            // }
            // //else if ( showStyle == 4 ){
            // //     drawTimeLineBar_normal(data.all_dictionary,tradeNoNoNo,data.aspect_name,data.unite,data.maxValue,data.module_name,sql_date1_,sql_date2_,dateChoose_name,space_name,sql_cust);
            // // }
            // else {
            //     console.log("five");
            //     //drawBar_normal(data.all_dictionary,tradeNoNoNo,data.aspect_name,data.unite,data.maxValue,data.module_name,sql_date1_,sql_date2_,dateChoose_name,space_name,sql_cust);
               
            // }

            $("#txt").empty();
            $("#txt").append(data.describe); 
             }).fail(function(){
                console.log("wrong");
             });
      
    };

 
</script>
<script type="text/javascript" src="/static/data_import/js/loadChart.js"></script>
<!-- <script type="text/javascript">
    require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });
</script> -->
{% endblock %}