{% extends "data_import/base.html" %}
{% load static %}
{% load key_dict %}
{% block title %}{% if title %}{{ title }}{% endif %}{% endblock %}

{% block pagecss %}
<link rel="stylesheet" type="text/css" href="{% static 'data_import/css/custom.css' %}">
{% endblock %}

{% block pagejs %}
<script type="text/javascript" src="{% static  'data_import/js/pricepredict.js'%}"></script>
<script type="text/javascript" src="/static/data_import/js/loadChart.js"></script>
{% endblock pagejs %}

{% block content %}

<!-- start portfolio Section -->
<section id="protfolio_sec">
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
            <div class="title_sec">
                <h1>价格预测</h1>
                <h2>包括选择种类、影响因素、预测时间、尺度，给出相应的价格预测曲线，包括历史价格展示和未来价格预测两部分</h2>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="portfolio-filter text-uppercase text-center">
                <ul class="filter">
                    <li class="active" data-filter=".price-history">钢材价格历史走势</li>
                    <li data-filter=".price-predict">钢材价格趋势预测</li>
                </ul>

            </div>

            <div class="all-portfolios">
                <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                    <div class="single-portfolio price-history">
                      <div class="col-xs-5">
                        <form role="form" id="history_form" action="">
                            <div class="col-md-6">
                                <div class="form-group">
                                  <label>钢材种类（大类）</label>
                                    <!--在大类的选择下增加onchange函数，一代大类选择完毕，相应的选项会相应发生变化-->
                                  <select class="form-control input-lg" id="steel_type" name="steel_type" placeholder="钢种">
                                        {% for type,display in steel_type.items %}
                                          {% if type == "60Si2Mn" %}
                                          <option value="{{ type }}" selected>{{ display }}</option>
                                          {% else %}
                                          <option value="{{ type }}">{{ display }}</option>
                                          {% endif %}
                                        {% endfor %}
                                  </select>
                                </div>

                                {% for key,value in all_select.items %}
                                    <div class="form-group">
                                      <label>{{ choose_col_meaning|key_dict:key}}</label>
                                      <select class="form-control input-lg" id="{{ key }}" placeholder="{{ choose_col_meaning|key_dict:key}}">
                                      {% for ele in value %}
                                        <option value="{{ ele }}" >{{ ele }}</option>
                                      {% endfor %}
                                      </select>
                                    </div>
                                {% endfor %}

                                <div class="form-group">
                                  <label>初始时间</label>
                                  <input id="history_begin" name="history_begin" type="date" value="2010-06-03">
                                </div>
                                -
                                <div class="form-group">
                                  <label>终止时间</label>
                                  <input id="history_end" name="history_end" type="date" value="2017-10-20">
                                </div>
                            </div>

                            <div class="col-md-6">
                              <div class="form-group">
                                  <div class="alert alert-info" role="alert">
                                    <label>数据爬取来源：</label>
                                      <div class="alert alert-info" role="alert" id="ele_info"></div>
                                  </div>
                              </div>
                              <!--<div class="alert alert-info" role="alert">{{ ele_info }}</div>-->
                              <div class="alert alert-warning hide" id ="dataerror"role="alert"></div>
                            </div>

                            <div class="form-group">
                              <input class="btn btn-primary"  type="submit" value="查询">
                            </div>
                        </form>
                      </div>

                      <div class="col-xs-7">
                        <div id="history_figure" style="width: 500px;height:400px;"></div>
                      </div>

                    </div>
                </div>

            <!--<hr />-->

                <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                    <div class="single-portfolio price-predict">

                          <div class="row">
                            <div class="col-md-5">
                              <form role="form" id="predict_form" action="">
                                <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label >预测钢材种类</label>
                                    <select class="form-control input-lg" id="steel_type__predict" name="steel_type" placeholder="钢种">
                                    {% for type,display in steel_type.items %}
                                      {% if type == "60Si2Mn" %}
                                      <option value="{{ type }}" selected>{{ display }}</option>
                                      {% else %}
                                      <option value="{{ type }}">{{ display }}</option>
                                      {% endif %}
                                    {% endfor %}
                                    </select>
                                  </div>
                                {% for key,value in all_select.items %}
                                    <div class="form-group">
                                      <label>{{ choose_col_meaning|key_dict:key}}</label>
                                      <select class="form-control input-lg" id="{{ key }}_predict" placeholder="{{ choose_col_meaning|key_dict:key}}">
                                      {% for ele in value %}
                                        <option value="{{ ele }}" >{{ ele }}</option>
                                      {% endfor %}
                                      </select>
                                    </div>
                                {% endfor %}
                                  <div class="form-group">
                                    <label>时间尺度选择</label>
                                    <select class="form-control input-lg" id="time_scale_predict" placeholder="选择时间尺度">
                                    {% for scale,display in time_scale.items %}
                                      {% if scale == "day" %}
                                      <option value="{{ scale }}" selected>{{ display }}</option>
                                      {% else %}
                                      <option value="{{ scale }}" >{{ display }}</option>
                                      {% endif %}
                                    {% endfor %}
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <label>预测方法选择：</label>
                                    {% for method,display in predict_method.items %}
                                    <div class="checkbox " id="predict_method">
                                      <label>
                                        <input type="checkbox" name="predict_method" value="{{ method }}">{{ display }}
                                      </label>
                                    </div>
                                    {% endfor %}
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                  <div class="alert alert-info" role="alert">
                                    <label>钢材价格影响因素：</label>
                                    <ul>
                                      <li>铁矿石</li>
                                      <li>进口总量</li>
                                      <li>出口总量</li>
                                      <li>海运费</li>
                                      <li>炼焦煤</li>
                                      <li>废钢</li>
                                      <li>铁精粉</li>
                                    </ul>
                                    </div>
                                  </div>
                                  <div class="alert alert-info" role="alert">{{ info }}</div>
                                  <div class="alert alert-warning hide" id ="waitwarning"role="alert">{{ warning }}</div>
                                </div>
                                </div>
                                <div class="form-group">
                                  <input class="btn btn-primary"  type="submit" value="查询">
                                </div>
                              </form>
                            </div>
                            <div class="col-md-7">
                                <div id="predict_figure" style="width: 500px;height:400px;"></div>
                            </div>
                          </div>
                          <div id="figures">

                          </div>
                     </div>
                </div>
            </div>

        </div>

    </div>
</div>
<script type="text/javascript">
  $(document).on('submit', 'form#predict_form', function() {
    predict_query();
    console.log("叫一声佛祖，回头无岸！");
    return false;
    });
  $(document).on('submit', 'form#history_form', function() {
    history_query();
    return false;
    });

</script>
</section>
<!-- End Portfolio Section -->


{% endblock %}
